[Unit]
Description=Clean Storage Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python /home/bobby/storageWatchdog.py
StandardInput=tty-force
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target
